<footer class="relative shadow-footer bg-background-700/60 py-8 z-10">
    <div class="container mx-auto px-4">
        <p class="text-text-300 text-center">&copy; {{ "now"|date("Y") }} Popodex. Tous droits réservés.</p>
    </div>
</footer>
